*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

*.userprefs

mono_crash.*

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bbin/
obj/
intermediate/
bin/
testrestites/
TestResults/
[Bb]in/
[Oo]bj/

.vs/
.vscode/

*.nupkg
**/packages/*
!**/packages/build/

.omnisharp/

.idea/
*.sln.iml

*.log
*.cache
*.tmp
